@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	#root {
		@apply min-h-screen;
	}

	body {
		@apply antialiased text-slate-900;
		background-color: #f1f5f9;
	}

	:root {
		--brand-color: #0f172a;
	}

	html[data-theme="dark"] body {
		background-color: #020617;
		color: #e2e8f0;
	}
}
